<a href="https://colab.research.google.com/github/Tanisha190405/AIML/blob/main/Experiment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment 4:
Write a python program to import and export data using Pandas and
show the details of the dataset like number of rows, columns, first five
rows, size, number of missing values, sum, average, min and max
values from the numerical columns.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

Uploading the file from system

In [ ]:
uploaded=files.upload()

Saving student-dataset.csv to student-dataset.csv

In [ ]:
import io

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['student-dataset.csv']))

First five rows of the dataset

In [ ]:
df.head(5)

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5

Number of missing values in each column

In [ ]:
df.isnull().sum()

id                      0
name                    0
nationality             0
city                    0
latitude                0
longitude               0
gender                  0
ethnic.group          307
age                     0
english.grade           0
math.grade              0
sciences.grade          0
language.grade          0
portfolio.rating        0
coverletter.rating      0
refletter.rating        0
dtype: int64

Number of rows

In [ ]:
df.shape[0]

307

Number of columns

In [ ]:
df.shape[1]

16

Size(Rows*columns)

In [ ]:
df.size

4912

In [ ]:
numerical_cols = df.select_dtypes(include=['float64', 'int64'])

Finding Sum in numerical columns

In [ ]:
numerical_cols.sum()

id                    46971.00
latitude              10089.06
longitude            -19813.51
ethnic.group              0.00
age                    6743.00
english.grade          1034.50
math.grade             1048.20
sciences.grade         1058.10
language.grade         1349.70
portfolio.rating       1224.00
coverletter.rating     1262.00
refletter.rating       1286.00
dtype: float64

Finding Average in numerical columns

In [ ]:
numerical_cols.mean()

id                    153.000000
latitude               32.863388
longitude             -64.539121
ethnic.group                 NaN
age                    21.964169
english.grade           3.369707
math.grade              3.414332
sciences.grade          3.446580
language.grade          4.396417
portfolio.rating        3.986971
coverletter.rating      4.110749
refletter.rating        4.188925
dtype: float64

Finding Minimum in numerical columns

In [ ]:
numerical_cols.min()

id                      0.00
latitude              -33.45
longitude            -123.13
ethnic.group             NaN
age                    19.00
english.grade           1.50
math.grade              2.10
sciences.grade          1.40
language.grade          1.00
portfolio.rating        1.00
coverletter.rating      1.00
refletter.rating        1.00
dtype: float64

Finding maximum in numerical columns

In [ ]:
numerical_cols.max()

id                    306.00
latitude               59.89
longitude             139.75
ethnic.group             NaN
age                    26.00
english.grade           4.00
math.grade              4.00
sciences.grade          4.00
language.grade          5.00
portfolio.rating        5.00
coverletter.rating      5.00
refletter.rating        5.00
dtype: float64